<h1>Fasilitas Medik</h1>
<img class = "lab" src = "/assets/fasilitas-medik1"/>
<ul class="medik">
	<li><p style="font-size:30px;font-weight:bold;">Pelayanan Medik</p>
		<ul>
			<li><img class = "lab" src = "/assets/pelayanan_medik"/></li>
			<li>
				<p style="font-size:20px;">Ruang Perawatan</p>
				<ul>
				    <li><img class = "kamar" src = "/assets/vvip"/></li>
					<li>Ruang Perawatan (kelas I, II, III, VIP, VVIP)
						
							<li>
								<table border="1px" style="text-align:center;">
									<tr>
										<th>Kelas</th>
										<th>Tempat Tidur Elektrik</th>
										<th>TV dan Musik</th>
										<th>Penyejuk Udara</th>
										<th>Sofa dan Sofabed</th>
										<th>Lemari Es</th>
										<th>Kamar Mandi(air panas/air dingin)</th>
										<th>Telepon</th>
										<th>Nurse Call</th>
									</tr>
									<tr>
										<td>VVIP</td>
										<td>Ya</td>
										<td>Ya</td>
										<td>Ya</td>
										<td>Ya</td>
										<td>Ya</td>
										<td>Ya</td>
										<td>Ya</td>
										<td>Ya</td>
									</tr>
									<tr>
										<td>VIP</td>
										<td>Ya</td>
										<td>Ya</td>
										<td>Ya</td>
										<td>Ya</td>
										<td>Ya</td>
										<td>Ya</td>
										<td>Ya</td>
										<td>Ya</td>
									</tr>
									<tr>
										<td>I</td>
										<td>Ya</td>
										<td>Ya</td>
										<td>Ya</td>
										<td>Ya</td>
										<td>Ya</td>
										<td>Ya</td>
										<td>Ya</td>
										<td>Ya</td>
									</tr>
									<tr>
										<td>II</td>
										<td> - </td>
										<td>Ya</td>
										<td>Ya</td>
										<td> - </td>
										<td> - </td>
										<td> - </td>
										<td>Ya</td>
										<td>Ya</td>
									</tr>
									<tr>
										<td>III</td>
										<td> - </td>
										<td> - </td>
										<td>Ya</td>
										<td> - </td>
										<td> - </td>
										<td> - </td>
										<td>Ya</td>
										<td>Ya</td>
									</tr>
									
								</table>
							</li>
						
					</li>
					<li><img class = "peri" src = "/assets/perinatologi"/></li>
					<li><p style="font-size:20px;">Ruang Perawatan Perinatologi</p>
						
							<li>Divisi perinatologi merupakan salah satu divisi departemen ilmu kesehatan anak yang memberikan pelayanan kesehatan bagi semua bayi baru lahir (usia 0-28 hari) terutama dengan risiko tinggi.</li>
							<li>
								<ul>
									<li>- Friendly NICU & SCN</li>
									<li>- Total Parenteral Nutrition</li>
									<li>- Laboratorium, USG, Ekokardiografi</li>
									<li>- Ventilator</li>
									<li>- HFO</li>
									<li>- CPAP, T-PIECE resusinator</li>
								</ul>
							</li>
						
					</li>
				</ul>
			</li>
			<li><p style="font-size:20px;">Ruang Bersalin</p>
				<ul>
					<li><img class = "lab" src = "/assets/ruang-bersalin"/></li>
					<li>Ruang bersalin :</li>
					<li>Kamar Bersalin Umum</li>
					<li>Kamar Bersalin Khusus</li>
					<li>Hypnobirthing</li>
					<li>ILA(Intra Labor Analgesia)</li>
				</ul>
			</li>
			<li><p style="font-size:20px;">Ruang Operasi</p>
				<ul>
					<li>Didukung oleh tim dokter baik bedah dan anestesi yang profesional, berprestasi dan berpengalaman, kami memiliki 6 kamar operasi (yang akan menjadi 10 kamar COT di gedung Elizabeth, dilengkapi dengan Septic OT dan Hybrid OT) dengan peralatan modern berstandar internasional dan peralatan modern yang mengikuti perkembangan jaman untuk menangani prosedur sederhana maupun rumit—kamar operasi kami juga mempunyai mesin pacu jantung paru ( Heart Lung Machine) untuk menunjang operasi jantung terbuka, juga alat laparascopy untuk operasi dengan minimal invasif. Semua ini didukung dengan fasilitas CSSD (Central Sterile Supply Department) untuk menjamin sterilitas peralatan.</li>
					
				</ul>
			</li>
			<li><p style="font-size:20px;">Pelayanan Intensif</p></li>
			<li><p style="font-size:20px;">UGD 24 jam</p></li>
		</ul>
	</li>

	<li><p style="font-size:30px;font-weight:bold;">Penunjang Medik</p>
		<ul>

			<li>
				<p style="font-size:20px;">Laboraturium</p>
				<ul>
					<li>Akurasi dan ketepatan waktu adalah dua keutamaan kami, juga didukung oleh fasilitas bank darah dan home service laboratory (kontak: 022-2552087). Berbagai fasilitas kami miliki seperti: hematologi rutin, kimia klinik, immunologi, seroimunologi, mikrobiologi, klinik rutin (urine, faeces dan cairan tubuh lainnya), patologi anatomi (sitologi, pap smear, histopatologi dan vriescope) dan andrologi (analisa sperma).</li>
				</ul>
			</li>
			<li>
				<p style="font-size:20px;">Instalasi Gizi</p>
				<ul>
					<li>Untuk menuntun para pasien menuju kesembuhan, kami memperhatikan kebutuhan gizi mereka seharihari. Pelayanan gizi mencakup unit produksi makanan, konsultasi gizi (baik untuk pasien rawat jalan maupun inap), penyediaan katering diet (kontak: 022-2552147) dan pemberdayaan Badan Penelitian dan Pengembangan Gizi.</li>
				</ul>
			</li>
		</ul>
	</li>
	
</ul>

