<h1>Fasilitas Non-Medik</h1>

<ul class="medik">
	<li><p style="font-size:30px;font-weight:bold;">Pelayanan Non-Medik</p>
		<ul>
			<li class="pelayanan"><img class = "lab" src = "/assets/fasilitas-non-medik"/></li>
			<li>
				<p style="font-size:20px;">Foto dan Video Operasi</p>
				<ul>
				    <li><img class = "kamar" src = "/assets/foto-video-operasi"/>
				    	
				    		<li>Abadikan momen berharga saat anda menyongsong kelahiran buah hati dengan foto atau video. foto dan video ini akan mendokumentasikan proses kelahiran bayi sampai pada saat pertama kalinya saat pertama kalinya sang bayi bersama dengan ibu. untuk menjaga kenyamanan anda, kami telah menyesuaikan sudut pengambilan foto dan video dengan etika yang  berlaku. sebelum proses berlangsung, anda akan diminta untuk menandatangani formulir persetujuan yang bisaa anda dapatkan di bagian front office.</li>
				    	
				    </li>
				</ul>	
					<li>
						<p style="font-size:20px;">Catering Diet Khusus</p>
					</li>
					<li>
						<p style="font-size:20px;">Senam Yoga</p>
					</li>
					<li>
						<p style="font-size:20px;">Auditorium</p>
					</li>
					<li><p style="font-size:20px;">Kafetaria</p></li>
				</ul>
			</li>
		</ul>
	</li>
</ul>