<!DOCTYPE html>
<html>
<head>
  <title>TugasAkhir</title>
  <link href = "aplication.css" rel="stylesheet" type="text/css"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body style = "font-family:Arial;">

<h2>Sunrise Hospital</h2>
</br>
<img src = "/assets/peta"/>
<fieldset>
<legend>Contact Us</legend>
	<label>Jl. Ir.H.Djuanda No 100</label></br>
	<label>Bandung, 40132 - Indonesia</label></br>
	<label>Telepon 	 : 022-2552000</label></br>
	<label>Fax		 : 022-2504235</label></br>
	<label>Email 	 : Sekretariat@rsborromeus.com</label></br>

</fieldset>


</body>
</html>